alias g='git'
alias git='hub'

## list
alias l='ls'
alias la='ls -Alh'                            # list all
alias l.='ls -Alh|egrep ".*:[0-9]*\s\."'      # list hidden only items
alias ll='ls -lha'                            # list visible only items
alias lt='ls -lht'                            # list visible only items sorted by modification time

## common
alias e='exit'
alias h='history'
alias md='mkdir -p'

## navigation
alias c='cd ..'                               # up one dir
alias cdd='cd -'                              # goto last dir cd'ed from

# postgres
alias pg_start='pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start'
alias pg_stop='pg_ctl -D /usr/local/var/postgres stop -s -m fast'

